<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <style>
        body {
            font-family: 'Noto Serif TC', serif;
            text-align: center;
            margin: 50px;
            background: black;
        }

        #error {
            font-size: 25pt;
            color: #fff;
        }

        p {
            font-size: 20pt;
            color: #fff;
        }
    </style>
</head>
<body>
  {% if status == 429 %}
    <p id="error">{{status}}  {{message}}</p>
    <p>Sorry, you have sent too many requests to our server. Please wait and try again later.</p>

  {% else %}
    <h1>{{status}} {{ message }}</h1>

  {% endif %}

</body>
</html>